@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&family=Noto+Nastaliq+Urdu:wght@400;700&display=swap');
@import "tailwindcss";

@theme {
  --color-brand-blue: #0b1e40;
  --color-brand-gold: #c5a059;
  --font-urdu: "Noto Nastaliq Urdu", serif;
}

@layer base {
  .rtl {
    direction: rtl;
  }
}

@layer utilities {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}
